@charset "UTF-8";

* {
    --color-header: #362D28;
    --color-back: #B59988;
    --color-button: #B57851;
    --color-back-li: #B5A49A;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    background-color: var(--color-back);
    box-sizing: border-box;    
}

#format {
    max-width: 500px;
    min-width: 200px;

    margin: auto;
    margin-top: 100px;

    border-radius: 100px ;
}

header {
    height: 50px;
    border-radius: 20px 20px 0 0;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--color-header);
    color: white;
    text-align: center;
}
header h1 {
    font-weight: bolder;
    color: white;
    text-align: center;
}

main {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 20px 20px;
    padding: 30px 70px;

    background-color: white;
}

form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.8rem
}

form input {
    flex: 3;
    height: 30px;
    border-color: var(--color-header);
    border-radius: 10px;
}


button {
    height: 38px;
    border-color: var(--color-header);
    border-radius: 10px;
    background-color: var(--color-button);
    cursor: pointer;
    color: white;
    font-weight: bold;
    font-size: 1rem;
}
.btnform {
    flex: 1.5;
}
.btnlist{
    width: 70px;
}


.list-todo {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    gap: 1rem;

    padding: 0;
    list-style: none;
}

.list-todo li {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--color-back-li);
}

.txtList {
    background-color: var(--color-back-li);
    border: none;
}

.checkList {
    height: 20px;
    width: 20px;
    background-color: white;
}

.checkList:checked .txtList {
    text-decoration: line-through;
    color: white;
}